/* ==================================================================
 * Responsive CSS
================================================================== */


/*=========== 1080p Computer ===========*/
@media only screen and (max-width:1000px) {
    .slider {
        height: 100vh; 
        display: flex;
        background-color: #E6E6E6; 
        margin-top: 0;
        width: 100vw;
    }
}

/*============= Tablet =============*/
@media only screen and (max-width: 700px) {
    
    /*======= Navbar ==========*/
    #collapse-navbar{
        display: block;
    }
    #original-navbar{
        display: none;
    }

    /* ========= Slider =============*/
    .slider {
        height: 60vh; 
        display: flex;
        background-color: #E6E6E6; 
        margin-top: 0;
        width: 100vw;
    }
    .slider-left-side-content{
        height: auto; 
        width: 100vw; 
        text-align: center;
        padding-bottom: 0;
        margin: auto auto;
    }
    .slider-left-side-content a{
        margin: 15px auto 30px auto;
    }
    .slider-title{
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 15px;
        color: #2E2E2E;
        margin: auto auto;
    }
    .slider-description{
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding-bottom: 0px;
        color: #2E2E2E;
        margin: auto auto;
        width: 80%;
    }
    .slider-img{
        display: none;
    }

    /* ========= Sidebar =============*/
    #sidebar-align img{
        height: 8vw;
        width: auto;
    }
    .sidebar{
        background-color: white; 
        height: 25vh; 
        text-align: center; 
        display: flex;
    }
    .sidebar-item-content-img{
        height: 4vw; 
        width: auto; 
        margin: auto auto;
        margin-right: 5px;
    }
    .sidebar-item-content-number-red{
        margin: auto auto; 
        margin-left: 0;
        font-weight: bold;
        color: #FF0000;
        font-size: 30px;
        line-height: 30px;
    }
    .sidebar-item-content-number-green{
        margin: auto auto; 
        font-weight: bold;
        margin-left: 0;
        color: #18BF1E;
        font-size: 30px;
        line-height: 30px;
    }
    .sidebar-description{
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        color: #2E2E2E;
        margin: 7px auto auto auto;
    }

    /* ========= Information ===========*/
    .information-text {
        margin: 40px auto 40px auto; 
        text-align: center; 
        width: 60%;
    }
    .information-text h1 {
        text-shadow: 0px 3px 6px #00000024; 
        padding-bottom: 10px; 
        color: white; 
        font-size: 30px; 
        font-weight: normal;
    }
    .information-text p {
        text-shadow: 0px 1px 6px #00000024; 
        padding-bottom: 10px; 
        color: white; 
        font-size: 15px; 
        font-weight: initial;    
    }
    #terms{
        width: 100%;
        margin: 0;
        padding-top: 50px;
    }
    .arrow{
        cursor: pointer; 
        margin: auto auto; 
        padding: 0 0; 
        display: flex;
        background: transparent;
    }

    /* ========= Causes =============*/
    .causes {
        width: 100vw; 
        height: 100%; 
        background-color: #E6E6E6;
        display: flex;
    }
    .causes-card {
        display: inline-block;
        margin: auto auto;
    }
    .causes-card p{
        margin-bottom: 70px;
        font-size: 10px;
    }
    .causes h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 30px; 
        font-weight: normal;
        margin: auto auto;
    }
    .causes-card-content img {
        height: auto; 
        width: 420px;
        margin-top: 50px;
    }
    .causes-card-content-info {
        display: block; 
        text-align: center; 
        width: 100%;
        height: auto; 
        background-color: white;
    }
    .causes-card-content-info h1 {
        margin: auto auto; 
        padding-top: 10px; 
        color: #2E2E2E; 
        font-size: 18px; 
        font-weight: bold;
    }
    .causes-card-content-info p {
        margin: auto auto; 
        padding-bottom: 10px; 
        color: #707070; 
        font-size: 15px; 
        font-weight: normal;
    }    

    /* ========= Partners =============*/
    .partners h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 30px; 
        font-weight: normal; 
        margin: 0 auto 50px auto; 
        padding-top: 100px;
    }
    .partners-content div{
        display: inline-block; 
        margin: auto 2vw 30px 3vw;
    }
    .partners-content-image{
        height: auto; 
        width: 25vw;
    }
    .partners-content-image a:hover{
        box-shadow: 0px 0px 0px 0px white;
        background-color: white;
    }

    /*========== Partners Page =========*/
    #partners-page-mobile{
        display: block;
    }
    #partners-page-web{
        display: none;
    }
    .partners-page{
        display: flex; 
        background-color: white; 
        padding-top: 50px;
        margin-bottom: 0px;
    }
    .partners-page-grid{
        display: flex; 
        margin-bottom: 10px;
    }
    .partners-page-grid img{
        margin: auto auto; 
        width: auto; 
        height: 120px; 
        margin-right: 10px;
    }
    .partners-page-grid p{
        margin: auto auto; 
        font-size: 13px;
    }

    /* ========= Newsletter =============*/
    .newsletter {
        display: inline-block; 
        width: 100vw; 
        height: auto; 
        background-color: #E6E6E6;
    }
    .newsletter-form {
        display: inline-block; 
        margin: auto;
    }
    .newsletter-form input{
        width: 80vw; 
        height: 35px; 
        background-color: white; 
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0 6px 4px -6px rgba(197, 197, 197, 0.537);
    }
    .newsletter-title {
        display:relative; 
        width: 80vw; 
        margin: auto auto;
    }
    .newsletter-title h1{
        font-size: 25px;
        font-weight: bold;
    }
    .newsletter-title h2{
        font-size: 15px; 
        color: #707070; 
        margin-top: 0px;
    }

    /* ========= Button ============*/
    .btn {
        background: red;
        border: 0 none;
        border-radius: 2px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: bolder;
        line-height: 14px;
        padding: 10px 15px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
    .btn-red {
        background-image: linear-gradient(to right ,#FF0000, #B10202);
        box-shadow: 0 6px 4px -6px #8D8D8D;
        border-radius: 10px;
    }
    .btn-red:hover {
        color: red;
        background: white;
        -webkit-transition: all 0.2s ease-in-out;
    }

    /* ======== Contact ========== */
    .contact-container{
        width: 100vw; 
        height: auto; 
        display: inline; 
        margin-bottom: 100px;
    }
    .adress-container{
        width: 100vw; 
        height: auto; 
        background-color:#dfdfdf; 
        margin: 0 auto; 
        display: flex;
    }
    .social-container{
        width: 100vw; 
        height: auto; 
        margin: 0 auto; 
        display: inline
    }
    .adress-container p{
        color: #333333; 
        text-align: center; 
        margin: auto auto; 
        padding: 20px;
    }
    .contact-maps-container{
        display: inline;
    }
    .contact-maps-container div iframe{
        margin: auto auto 20px auto;
    }
    .contact-form form{
        margin: auto auto;
        width: 90%;
        padding: 20px 0 20px 0;
    }

    /* ======== Donation ========== */
    .donation-container{
        margin-top: 67px; 
        position: relative; 
        z-index: 10; 
        width: 100vw; 
        height: 0; 
        display: flex;
        flex-direction: column;
    }
    .donation-container h1 {
        font-size: 40px;
        text-align: center;
        color: black;
        font-weight: bolder;
        width: auto;
        margin: auto auto 15px auto;
    }
    .donation-container p {
        font-size: 15px;
        text-align: center;
        width: 90vw;
        margin: 0 auto;
        color: black;
    }
    .donation-background {
        height: auto;
        width: 100vw;
        position: relative;
        z-index: -1;
    }
    .donation-grid {
        margin: 30px auto auto auto;
        display: grid;
        grid-template-columns: 90vw;
    }
    .donation-grid section {
        margin: 30px auto;
        width: 200px;
        height: auto;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
    }
    .donation-grid section h1 {
        color: #ff0000;
        border: none;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 0;
        width: auto;
        font-size: 35px;
        font-weight: bold;
    }
    .donation-grid section button {
        width: 120px;
        outline: none;
        border: none;
        background-color: #ff0000;
        order: solid 2px #ff0000;
        border-radius: 10px;
        font-size: 15px;
        height: 40px;
        color: white;
        font-weight: bolder;
        margin: 0 auto 20px auto;
        -webkit-transition: all 0.2s ease;
    }
    .donation-grid section button:hover {
        background-color: white;
        color: #ff0000;
        border: solid 2px #ff0000;
        -webkit-transition: all 0.2s ease;
    }    

    /* ======== Presentation ========== */
    .presentation {
        width: 100%; 
        height: 100%; 
        background-color: #E6E6E6;
        display: inline-block;
    }
    .presentation h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 35px; 
        font-weight: normal;
        margin: 0 auto 50px auto;
        padding-top: 100px;
        background-color: #E6E6E6;
    }
    .presentation-card{
        margin-top: 0px;
        background-color: #E6E6E6;
    }
    .presentation-card p{
        text-align: justify; 
        margin: 0 0 30px 0;
    }
}

/*============= Smartphone =============*/
@media only screen and (max-width:500px) {
    /*======= Navbar ==========*/
    #collapse-navbar{
        display: block;
    }
    #original-navbar{
        display: none;
    }

    /* ========= Slider =============*/
    .slider {
        height: 60vh; 
        display: flex;
        background-color: #E6E6E6; 
        margin-top: 0;
        width: 100vw;
    }
    .slider-left-side-content{
        height: auto; 
        width: 100vw; 
        text-align: center;
        padding-bottom: 0;
        margin: auto auto;
    }
    .slider-left-side-content a{
        margin: 15px auto 30px auto;
    }
    .slider-title{
        font-size: 6vw;
        font-weight: 500;
        padding-bottom: 15px;
        color: #2E2E2E;
        margin: auto auto;
    }
    .slider-description{
        font-size: 3vw;
        font-weight: 500;
        line-height: 15px;
        padding-bottom: 0px;
        color: #2E2E2E;
        margin: auto auto;
        width: 80%;
    }
    .slider-img{
        display: none;
    }

    /* ========= Sidebar =============*/
    #sidebar-align img{
        height: 8vw;
        width: auto;
    }
    .sidebar{
        background-color: white; 
        height: 20vh; 
        text-align: center; 
        display: flex;
    }
    .sidebar-item-content-img{
        height: 4vw; 
        width: auto; 
        margin: auto auto;
        margin-right: 5px;
    }
    .sidebar-item-content-number-red{
        margin: auto auto; 
        margin-left: 0;
        font-weight: bold;
        color: #FF0000;
        font-size: 7vw;
        line-height: 30px;
    }
    .sidebar-item-content-number-green{
        margin: auto auto; 
        font-weight: bold;
        margin-left: 0;
        color: #18BF1E;
        font-size: 7vw;
        line-height: 30px;
    }
    .sidebar-description{
        font-size: 3vw;
        font-weight: 500;
        line-height: 15px;
        color: #2E2E2E;
        margin: 7px auto auto auto;
    }

    /* ========= Information ===========*/
    .information-text {
        margin: 40px auto 40px auto; 
        text-align: center; 
        width: 60%;
    }
    .information-text h1 {
        text-shadow: 0px 3px 6px #00000024; 
        padding-bottom: 10px; 
        color: white; 
        font-size: 6vw; 
        font-weight: normal;
    }
    .information-text p {
        text-shadow: 0px 1px 6px #00000024; 
        padding-bottom: 10px; 
        color: white; 
        font-size: 3.5vw; 
        font-weight: initial;    
    }
    #terms{
        width: 100%;
        margin: 0;
        padding-top: 50px;
    }
    .arrow{
        cursor: pointer; 
        margin: auto auto; 
        padding: 0 0; 
        display: flex;
        background: transparent;
    }

    /* ========= Causes =============*/
    .causes {
        width: 100vw; 
        height: 100%; 
        background-color: #E6E6E6;
        display: flex;
    }
    .causes-card {
        display: inline-block;
        margin: auto auto;
    }
    .causes-card p{
        margin-bottom: 70px;
        font-size: 3.5vw;
    }
    .causes h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 6vw; 
        font-weight: normal;
        margin: auto auto;
    }
    .causes-card-content img {
        height: auto; 
        width: 100%;
        margin-top: 50px;
    }
    .causes-card-content-info {
        display: block; 
        text-align: center; 
        width: 100%;
        height: auto; 
        background-color: white;
    }
    .causes-card-content-info h1 {
        margin: auto auto; 
        padding-top: 10px; 
        color: #2E2E2E; 
        font-size: 3.5vw; 
        font-weight: bold;
    }
    .causes-card-content-info p {
        margin: auto auto; 
        padding-bottom: 10px; 
        color: #707070; 
        font-size: 3vw; 
        font-weight: normal;
    }    

    /*========= Projects ============*/
    .projects{
        width: 100vw; 
        height: auto; 
        display: inline-block; 
        padding-bottom: 50px;
    }
    .projects-title{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 25px; 
        font-weight: normal;
        text-align: center;
    }
    .projects-container{
        width: 100vw; 
        height: auto; 
        display: inline-block;
    }
    .projects-container-text{
        width: 100vw; 
        height: auto; 
        display: flex;
    }
    .projects-container-text p{
        margin: 30px;
    }
    .projects-container-image{
        width: 100vw; 
        height: 60vw;
        margin-top: 20px; 
        background-color: lightgray;
    }

    /* ========= Partners =============*/
    .partners h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 6vw; 
        font-weight: normal; 
        margin: 0 auto 50px auto; 
        padding-top: 100px;
    }
    .partners-content div{
        display: inline-block; 
        margin: auto 2vw 30px 3vw;
    }
    .partners-content-image{
        height: auto; 
        width: 25vw;
    }
    .partners-content-image a:hover{
        box-shadow: 0px 0px 0px 0px white;
        background-color: white;
    }

    /*========== Partners Page =========*/
    #partners-page-mobile{
        display: block;
    }
    #partners-page-web{
        display: none;
    }
    .partners-page{
        display: flex; 
        background-color: white; 
        padding-top: 50px;
        margin-bottom: 0px;
    }
    .partners-page-grid{
        display: flex; 
        margin-bottom: 10px;
    }
    .partners-page-grid img{
        margin: auto auto; 
        width: auto; 
        height: 25vw; 
        margin-right: 10px;
    }
    .partners-page-grid p{
        margin: auto auto; 
        font-size: 3vw;
    }
    .partners-page-button{
        display: flex; 
        margin: auto auto 50px auto; 
        width: 100%; 
        height: 20vw; 
        background-image: linear-gradient(to right ,#EF2727, #B10202); 
        box-shadow: 0 6px 4px -6px rgb(100, 100, 100); 
        border-radius: 15px; 
        cursor: pointer;
    }
    .partners-page-button p{
        margin: auto auto; 
        font-weight: bold; 
        color: white; 
        font-size: 4vw;
    }

    /* ========= Newsletter =============*/
    .newsletter {
        display: inline-block; 
        width: 100vw; 
        height: auto; 
        background-color: #E6E6E6;
    }
    .newsletter-form {
        display: inline-block; 
        margin: auto;
    }
    .newsletter-form input{
        width: 80vw; 
        height: 35px; 
        background-color: white; 
        margin: 20px auto;
        border-radius: 10px;
        box-shadow: 0 6px 4px -6px rgba(197, 197, 197, 0.537);
    }
    .newsletter-title {
        display:relative; 
        width: 80vw; 
        margin: auto auto;
    }
    .newsletter-title h1{
        font-size: 5vw;
        font-weight: bold;
    }
    .newsletter-title h2{
        font-size: 3vw; 
        color: #707070; 
        margin-top: 0px;
    }

    /* ========= Button ============*/
    .btn {
        background: red;
        border: 0 none;
        border-radius: 2px;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-size: 2.5vw;
        font-weight: bolder;
        line-height: 14px;
        padding: 10px 15px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
    }
    .btn-red {
        background-image: linear-gradient(to right ,#FF0000, #B10202);
        box-shadow: 0 6px 4px -6px #8D8D8D;
        border-radius: 10px;
    }
    .btn-red:hover {
        color: red;
        background: white;
        -webkit-transition: all 0.2s ease-in-out;
    }

    /* ======== Contact ========== */
    .contact-container{
        width: 100vw; 
        height: auto; 
        display: inline; 
        margin-bottom: 100px;
    }
    .adress-container{
        width: 100vw; 
        height: auto; 
        background-color:#dfdfdf; 
        margin: 0 auto; 
        display: flex;
    }
    .social-container{
        width: 100vw; 
        height: auto; 
        margin: 0 auto; 
        display: inline
    }
    .adress-container p{
        color: #333333; 
        text-align: center; 
        margin: auto auto; 
        padding: 20px;
    }
    .contact-maps-container{
        display: inline;
    }
    .contact-maps-container div iframe{
        margin: auto auto 20px auto;
    }
    .contact-form form{
        margin: auto auto;
        width: 90%;
        padding: 20px 0 20px 0;
    }

    /* ======== Donation ========== */
    .donation{
        display: inline; 
        height: 150px; 
        margin-bottom: 50px;
    }
    .donation-container{
        height: 100%; 
        width: 100%; 
        margin: auto auto; 
        display: flex;
        padding: 20px;
    }
    .donation-container img{
        width: 20vw; 
        height: 20vw; 
        margin: auto auto;
    }
    .donation-container p{
        margin: auto auto; 
        color: #2E2E2E;
        font-size: 4vw;
    }
    .donation-container form input{
        height: auto;
        width: 60vw;
    }
    .help{
        display: inline; 
        background-color: #E6E6E6;
        padding-bottom: 50px;
    }
    .help h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 6vw; 
        font-weight: normal;
        margin: 0 auto 0 auto;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .help-first-container{
        background-color: white;  
        display: inline; 
        margin: auto auto;
    }
    .help-second-container{
        background-color: white; 
        display: inline; 
        margin: auto auto;
    }
    .help-container-img{
        width: 100vw;
        margin: auto auto;
    }
    .help-container-text p{
        color: #2E2E2E; 
        font-weight: bold; 
        font-size: 3.5vw; 
        margin: auto auto 30px auto; 
        text-align: center; 
        padding: 10px;
    }

    /* ======== Presentation ========== */
    .presentation {
        width: 100%; 
        height: 100%; 
        background-color: #E6E6E6;
        display: inline-block;
    }
    .presentation h1{
        text-align: center; 
        color: #2E2E2E; 
        font-size: 7vw; 
        font-weight: normal;
        margin: 0 auto 50px auto;
        padding-top: 100px;
        background-color: #E6E6E6;
    }
    .presentation-card{
        margin-top: 0px;
        background-color: #E6E6E6;
    }
    .presentation-card p{
        text-align: justify; 
        margin: 0 0 30px 0;
    }
}